{{!-- html document for handlebars
moenika chowdhury --}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Palindrome Checker</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <div class="textcontainer">
    <header>
        <h1>Is it a <i>PALINDROME</i> ?</h1>
    </header>
    <main>

        <form id="palindromeForm">
        <textarea id="inputText"></textarea>
        <div id="buttonWrapper"><button type="submit">CHECK HERE!</button></div>
        </form>
        <div id="listContainer">
            <h4>LIST OF PALINDROME ENTRIES</h4>
            <ul id="palindromeList"></ul>
        </div>
    </main>

    <footer>moenika chowdhury &copy; CS 546 2017 id: 10397652</footer>
    </div>
</body> <script src="/public/scripts/main.js"></script>
</html>